<% votes.each do |vote|  %>
  <div class="col-md-12">
    <h3><%= link_to vote.post.title, go_to_url_post_path(:id => vote.post.id) %> <span class="link-text">(<%= vote.post.url %>)</span></h3>
    <p>Submitted <%= time_ago_in_words(vote.post.created_at) %>
       by <%= vote.post.user.username %>
       on <%= link_to vote.post.sub_reddit.name, send("#{vote.post.sub_reddit.name}_path") %>
    </p>
  </div>
<% end %>
