<div class="profile_nav">
  <div class="row text-center">
    <ul class="voted-posts">
      <li><%= link_to "Posts", user_posts_path(:username => @user.username) %></li>
      <li><%= link_to "Comments", user_comments_path(:username => @user.username) %></li>
      <li><%= link_to "Up Votes", up_vote_path(:username => @user.username) %></li>
      <li><%= link_to "Down Votes", down_vote_path(:username => @user.username) %></li>
      <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
    </ul>
  </div>
</div>
