<div class="container">
  <div class="row">

    <%= render partial: 'profile_nav' %>

    <h2><%= @user.username %></h2>
    <p><%= @user.first_name %><%= @user.last_name %></p>

    <%= render :partial => 'post', :locals => { :posts => @posts } %>

  </div>
</div>
