<h3><%= comment.body %></h3>
<p><%= link_to "Comment link", "#" %></p>
<p>Reply to <%= comment.commentable_type %> by <%= comment.user.username %></p>

<!-- display reply button and form if user is signed in -->
<% if user_signed_in? %>
    <a href="javascript:;" class="comment-button">reply</a>
    <div class="comment-form">
      <%= render :partial => 'comments/form', :locals => { :commentable_object => comment } %>
    </div>
<% end %>

<%= render :partial => 'comments/comment', :collection => comment.comments %>
