<%= render :partial => '/sub_reddits/post', :locals => { :post => @post } %>

<div class="container">
  <div class="row">
    <% @comments.each do |comment| %>
      <div class="row">
        <h3><%= comment.body %></h3>
        <p><%= link_to "Comment link", post_comment_path(:id => comment.id) %>
           <%= link_to "reply", "#" %>
        </p>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= render :partial => 'form', :locals => { :comment => @comment } %>
    <% end %>
  </div>
</div>
