<div class="container">
  <% @posts.each do |post| %>
    <div class="row post-box">

      <div class="col-md-1 text-center">
        <p><%= button_to '+', vote_up_post_path(:id => post.id), :class => "btn btn-inverse" %></p>
        <p><%= post.final_votes %></p>
        <p><%= button_to '-', vote_down_post_path(:id => post.id), :class => "btn btn-inverse" %></p>
      </div>

      <div class="col-md-11">
        <h3><%= link_to post.title, go_to_url_post_path(:id => post.id) %> <span class="link-text">(<%= post.url %>)</span></h3>
        <p>Submitted <%= time_ago_in_words(post.created_at) %>
          by <%= post.user %>
          on <%= link_to post.sub_reddit.name, send("#{post.sub_reddit.name}_path") %>
        </p>
      </div>


    </div>
  <% end %>
</div>
