<div class="row post-box">
  <div class="col-md-1 text-center">
    <% if user_signed_in? %>
      <p><%= button_to '+', vote_up_post_path(:id => post.id), :class => "btn btn-inverse" %></p>
    <% else %>
      <p><%= button_to '+', must_sign_in_path, :class => "btn btn-primary" %></p>
    <% end %>
    <p><%= post.final_votes %></p>
    <% if user_signed_in? %>
      <p><%= button_to '-', vote_down_post_path(:id => post.id), :class => "btn btn-inverse" %></p>
    <% else %>
      <p><%= button_to '-', must_sign_in_path, :class => "btn btn-primary" %></p>
    <% end %>
  </div>

  <div class="col-md-11">
    <h3><%= link_to post.title, go_to_url_post_path(:id => post.id) %> <span class="link-text">(<%= post.url %>)</span></h3>
    <p>Submitted <%= time_ago_in_words(post.created_at) %>
       by <%= post.user.username %>
       on <%= link_to post.sub_reddit.name, subreddit_path(:reddit => post.sub_reddit.name) %>
    </p>
    <p><%= link_to pluralize(post.comments.count, "comment"), post_path(post) %></p>
  </div>
</div>
